<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/checkout.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>

    <header class="califest-header-prin">
        <div class="centrar">
            <div class="califest-header">
                <img src="/images/logo.png" alt="" class="califest-header__logo">
                <nav class="califest-header__nav">
                    <ul class="califest-header__items">
                        <li class="califest-header__item"> <a href="">TICKETS</a></li>
                        <li class="califest-header__item"><a href="#">ABOUT</a></li>
                        <li class="califest-header__item"><a href="#">GALERY</a></li>
                        <li class="califest-header__item"><a href="#">LINE UP</a></li>
                        <li class="califest-header__item"><a href="#">NEWS</a></li>
                        <li class="califest-header__item"><a href="/tienda">STORE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


<div class="contenedor_boddy">    


        <div class="boddy">
            <h1 class="titulo_ship">SHIPPING ADRESS</h1>
            <form id="formulario-datos" action="/enviar" method="POST">
                <input type="text" placeholder="name" name="nombre" class="inputs">

                <input type="text" placeholder="email" name="email" class="inputs">

                <input type="text" placeholder="adress" name="adress" class="inputs">

                <input type="text" placeholder="city" name="city" class="inputs">

                <input type="text" placeholder="state" name="state" class="inputs">

                <input type="text" placeholder="phone" name="phone" class="inputs">

                <input type="text" placeholder="Card number" name="card" class="inputs">

                <input type="text" placeholder="Expiration date" name="expiration" class="inputs">

                <input type="text" placeholder="cvv" name="cvv" class="inputs">

                <input type="hidden" id="productos" name="compras" class="inputs">

                <button type="submit" id="pagar" class="boton_pay">pay</button>
            </form>

        </div>


<div class="carrito-productos">
<h1 class="titulo_carro">CART</h1>


 <hr color="blue" size="3" width="75%" noshade="noshade" />
    <div class="subtotal">
        <p class="texto_subtotal">
            TOTAL   $ <span id="precio_total" class="total_numero"></span>
        </p>

      <p class="titulo_car">DESCRIPTION</p>  

    </div>

    </div>


</div>

    <footer class="footer-fondo">
        <div class="footer-fondo__redes" style="background-image: url('/images/footer-instagram.png')">
            <img src="/images/instagram.jpg" alt="">
            <img src="/images/facebook.png" alt="">
            <img src="/images/youtube.png" alt="">
        </div>

        <div class="footer-fondo__barra">
            <h1>Patrocina</h1>
            <img src="/images/jonhy.png" alt="">
            <img src="/images/nissan.jpg" alt="">
            <img src="/images/shock.png" alt="">
            <img src="/images/noisey.png" alt="">
            <img src="/images/Publimetro.png" alt="">
            <img src="/images/El-informador.png" alt="">
            <img src="/images/electro-emite.png" alt="">
            <img src="/images/SantaMartaTurismo.png" alt="">
            <img src="/images/Monster.png" alt="">

        </div>
        <script src="/scripts/tienda.js"></script>


        <script src="/scripts/almacen.js"></script>

        <script>

            var carrito = document.querySelector(".carrito-productos");
            var cart = new Almacen("carrito");
            var productos = cart.obtener('producto');
            productos.forEach(function (producto) {
                let p = producto.valor;
                let li = document.createElement('li');
                li.innerHTML = `

        <h1 class="producto__titulo">${p.titulo}</h1>
        <h3 class="producto__precio">${p.precio}</h3>
        
`;

                carrito.append(li);

            });

            let precios = document.querySelectorAll('.producto__precio');
            let precio = 0;
            precios.forEach(function (p, i) {


                let original = ((p.innerHTML).replace('$', '')).replace(',', '.');
                console.log(original)

                let procesar = parseFloat(original);
                precio += procesar;

            })
            var subtotal = document.querySelector('#precio_total');
            subtotal.innerHTML = precio;

            var compras = document.querySelector('#productos');
            compras.value = JSON.stringify(productos);

             var formulario = document.querySelector("#formulario-datos");
             formulario.addEventListener("submit", function(e){
                 e.preventDefault()
                 //localStorage.clear();
             });


        </script>

        

</body>

</html>