<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <article class="producto">
        <h1 class="producto__titulo">{{titulo}}</h1>
        <h3 class="producto__precio">${{precio}}</h3>
        <img class="producto__imagen" src="{{imagen}}">
        <p class="producto__descripcion">
            {{descripcion}}
        </p>
    </article>

    <a class="boton-bonito" href="/contacto">Contacto</a>
    <a class="boton-bonito" href="/sobre-mi">Sobre Mi</a>
    <a class="boton-bonito" href="/portafolio">Portafolio</a>

</body>
</html>