tml, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  background: #f0ebeb;
}

.centrar {
  margin: 0 auto;
  max-width: 1360px;
}

.califest-header-prin {
  background-color: #f734bf;
}

.califest-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.califest-header__logo {
  padding-left: 5em;
}

.califest-header__nav {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
  padding-right: 5em;
}

.califest-header__items {
  display: inline;
}

.califest-header__item {
  display: inline-block;
  padding-left: 2em;
}

.califest-header__items li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.califest-header li {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.califest-header a {
  color: white;
  text-decoration: none;
}

.footer-fondo {
  min-width: 100%;
  height: auto;
}

.footer-fondo__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: repeat-x;
  background-size: cover;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 580px;
}

.footer-fondo__imagen * {
  width: 100%;
  text-align: center;
}

.footer-fondo__cont {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 200px;
}

.footer-fondo__newslatter {
  width: 100%;
  margin: auto;
}

.footer-fondo__boton {
  padding-top: 30px;
}

.footer-fondo__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 280px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-fondo__redes img {
  width: 70px;
  height: 70px;
  padding: 50px;
}

.footer-fondo__barra {
  background-color: black;
}

.footer-fondo__barra img {
  padding: 3em 0 3em 3em;
  width: 80px;
}

.footer-fondo__barra h1 {
  margin: 0;
  padding: 0;
  padding-left: 3em;
  padding-top: 2em;
}

.footer-fondo__boton {
  margin: 0;
}

.footer-fondo__boton button {
  font-size: 30px;
  width: 350px;
  padding: 8px;
  background-color: #f8cc06;
  color: #ffffff;
  text-decoration: none;
  border: 0ch;
  border-radius: 50px;
  margin: 0;
}

.footer-fondo__boton button:hover {
  background-color: #f73496;
}

.contenedor_boddy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.titulo_ship {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: black;
}

.boddy {
  margin-left: 100px;
  width: 70%;
}

.carrito-productos {
  width: 40%;
  background-color: white;
}

.inputs {
  width: 80%;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 10px;
}

.boton_pay {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  width: 350px;
  padding: 10px;
  background-color: #f8cc06;
  color: #ffffff;
  text-decoration: none;
  border: 0ch;
  border-radius: 20px;
  margin-bottom: 50px;
}

.titulo_carro {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #0c67f0;
  margin-left: 50px;
}

.producto__titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: black;
  margin-left: 50px;
}

.texto_subtotal {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #0c67f0;
  margin-left: 50px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.total_numero {
  color: #f734bf;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

.producto__precio {
  color: #f734bf;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.titulo_car {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #0c67f0;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 415px) {
  .califest-header__logo {
    display: none;
  }
  .califest-header__nav {
    padding-top: 1em;
  }
  .contenedor-uno img {
    width: 100%;
    padding-top: 3em;
    padding-bottom: 1em;
  }
  .contenedor-uno__fondo {
    min-height: 680px;
  }
  .contenedor-uno__boton {
    padding-top: 2em;
  }
  .contenedor-uno__slogan {
    font-size: 3em;
    padding-top: 2em;
  }
  .footer-fondo {
    min-width: 100%;
    height: auto;
  }
  .footer-fondo__imagen {
    display: none;
  }
  .footer-fondo__imagen * {
    width: 100%;
    text-align: center;
  }
  .footer-fondo__redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    height: 280px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-fondo__redes img {
    width: 70px;
    height: 70px;
    padding: 0px;
  }
  .footer-fondo__barra {
    background-color: black;
  }
  .footer-fondo__barra img {
    padding: 3em 0 0 3em;
    width: 80px;
  }
  .footer-fondo__barra h1 {
    margin: 0;
    padding: 0;
    padding-left: 3em;
    padding-top: 2em;
  }
  .footer-fondo__boton {
    margin: 0;
  }
  .footer-fondo__boton button {
    display: none;
  }
  .titulos {
    display: none;
  }
  .header_dos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .tipo {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
  }
  .coleccion {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
  }
  .artista {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
  }
  .titulos_filtros {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  .titulo_cuentas {
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
    color: #f1f1f1;
  }
  a {
    text-decoration: none;
  }
  .link {
    color: #f1f1f1;
  }
  .iconos {
    width: 40px;
    margin-top: 10px;
  }
  .carrito__numero {
    color: #f73496;
  }
  .carrito__num {
    width: 40px;
    position: absolute;
    top: -5px;
    left: 15px;
  }
  .carrito {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  .cuenta {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  .lista {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  .productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    color: #f73496;
    margin: 50px;
  }
  .productos img {
    width: 200px;
  }
  .producto__titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #0c67f0;
  }
  .producto__descripcion {
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    color: black;
  }
  .producto__precio {
    font-size: 45px;
  }
  .texto_subtotal {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #0c67f0;
    margin-left: 50px;
    margin-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .total_numero {
    color: #f734bf;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
  }
  .boton_pay {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 350px;
    padding: 10px;
    background-color: #f8cc06;
    color: #ffffff;
    text-decoration: none;
    border: 0ch;
    border-radius: 20px;
    margin-left: 900px;
    margin-bottom: 50px;
  }
  .contenedor_boddy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .titulo_ship {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: black;
  }
  .boddy {
    margin-left: 50px;
    width: 70%;
  }
  .carrito-productos {
    width: 100%;
    background-color: white;
  }
  .inputs {
    width: 80%;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 10px;
  }
  .boton_pay {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 350px;
    padding: 10px;
    background-color: #f8cc06;
    color: #ffffff;
    text-decoration: none;
    border: 0ch;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .titulo_carro {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #0c67f0;
    margin-left: 50px;
  }
  .producto__titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    margin-left: 50px;
  }
  .texto_subtotal {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #0c67f0;
    margin-left: 50px;
    margin-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .total_numero {
    color: #f734bf;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
  }
  .producto__precio {
    color: #f734bf;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .titulo_car {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #0c67f0;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=checkout.css.map */