
$comfortaa:'Comfortaa',
cursive;

$rojo:#f23c50;
$amarillo:#ffcb05;
$beige: #e5e6d8;
$azul: #4ad9d9;
$azulo: #aeb1a0;

* {
    padding: 0;
    margin: 0;
    font-family: $comfortaa;

    p,
    li,
    a,
    input,
    textarea,
    button,
    label {
        font-size: 13px;
    }

    input {
        margin: 5px 0 5px 0;
        padding: 5px;
    }

    body {
        background-color: $beige;
    }
}

.container {
    width: 100%;
    position: relative;
    .gracias{
        color: white;
        width: 60%;
        margin: auto;
        background-color: $rojo;
        padding: 100px;
        margin-top: 60px;
        h1,h4,p{
            text-align: center;
        }
        img{
            display: block;
            padding-top:40px;
            width: 120px;
            margin:auto;
        }
    }

    nav {

        background-color: $rojo;
        padding: 10px;

        @media only screen and (max-width: 700px) {
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 3;
        }

        .content {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            margin: auto;

            @media only screen and (max-width: 700px) {
                width: 90%;
            }

            .division {

                img {
                    height: 22px;
                }

                ul {
                    display: flex;
                    li {
                        list-style-type: none;
                        padding: 10px;
                        text-transform: capitalize;
                        color: white;
                        
                        a{
                            text-decoration: none;
                            &:visited{
                                color: white;
                            }
                            &:hover{
                                color: $azulo;
                            }
                        }
                                &:hover{
                                    color: $azulo;
                                }
                    }
                }

                input {
                    text-transform: capitalize;
                    padding: 7px;
                    border-radius: 36px;
                    border: 1px solid gray;
                }
            }
        }
    }
    .carrito{
        position: fixed;
        top: 100px;
        color:white;
        font-size: 13px;
        padding: 10px 10px 10px 10px;
        background-color: $rojo;
        left: 0;
    }
    .productos {
        margin: 20px auto 0 auto;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        @media only screen and (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
            width: 90%;
        }

        a {
            text-decoration: none;
            color: black;
            position: relative;

            .free::before {
                position: absolute;
                content: '';
                right: 10px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 25px solid $azul;
                border-left: 15px solid $azul;
                border-right: 15px solid $azul;
                border-bottom: 10px solid transparent;
            }

            .free::after {
                content: '';
                position: absolute;
                background-image: url('../img/cargo-truck.svg');
                background-size: 20px 20px;
                background-repeat: no-repeat;
                background-position: 0px 4px;
                right: 10px;
                top: 0;
                width: 25px;
                height: 25px;
            }
        }



        .producto {
            cursor: pointer;
            background: $beige;
            display: flex;
            align-items: center;
            padding: 10px;
            flex-direction: column;
            border: 1px solid rgb(216, 218, 231);
            background-color: white;
            transition: box-shadow .3s;



            &:hover {
                box-shadow: 1px 1px 15px rgb(146, 146, 146);
            }

            img {
                width: 80%;
            }

            p {
                text-align: center;
            }

            .btns {
                margin-top: 30px;

                button {
                    padding: 7px;
                    border: none;
                    background-color: $rojo;
                    color: white;
                    margin-bottom: 5px;
                    border: 1px solid $rojo;
                    transition: all .3s;

                    &:hover {
                        border: 1px solid $rojo;
                        background-color: white;
                        color: $rojo;
                    }

                    /* &:nth-child(1) {
                        border: 1px solid $rojo;
                        color: $rojo;
                        background-color: white;
                    }*/
                }
            }
        }
    }

    .description {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin: auto;
        margin-top: 50px;

        @media only screen and (max-width: 700px) {
            width: 90%;
            margin-top: 54px;
            flex-direction: column;
            align-items: center;
        }

        .img {
            @media only screen and (max-width: 700px) {
                margin-top: 20px;
            }

            img {
                width: 100%;
            }
        }

        .info {
            width: 500px;
            box-shadow: 1px 1px 15px gray;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-color: white;
            justify-content: space-between;

            @media only screen and (max-width: 700px) {
                order: -1;
                width: 90%;

                h3,
                h1,
                p,
                button {
                    margin-top: 10px;
                }
            }

            button {
                cursor: pointer;
                padding: 7px;
                border: none;
                background-color: $rojo;
                color: white;
                margin-bottom: 5px;
                border: 1px solid $rojo;
                transition: all .3s;

                &:hover {
                    border: 1px solid $rojo;
                    background-color: white;
                    color: $rojo;
                }
            }
        }
    }


    #busqueda {
        width: 60%;
        margin: auto;

        @media only screen and (max-width: 700px) {
            width: 90%;
            margin-top: 54px;
        }

        .inputs {
            box-sizing: border-box;
            padding: 10px;
            background-color: white;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            select {
                flex-grow: 3;
                padding: 5px;
                margin: 5px;
                border: 1px solid #e5e6d8;
            }

            #free {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 5px;
                padding: 5px;

                p {
                    margin-right: 5px;
                }

                .check {
                    position: relative;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    &:hover input~.checkmark {
                        background-color: #ccc;
                    }

                    input:checked~.checkmark {
                        background-color: $rojo;
                    }

                    input:checked~.checkmark:after {
                        display: block;
                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: #eee;

                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }

                        &:after {
                            left: 50%;
                            top: 50%;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
                    }
                }
            }

            button {
                flex-grow: 1;
                cursor: pointer;
                padding: 7px;
                border: none;
                background-color: $rojo;
                color: white;
                border: 1px solid $rojo;
                transition: all .3s;
                margin: 5px;

                &:hover {
                    border: 1px solid $rojo;
                    background-color: white;
                    color: $rojo;

                }
            }
        }
    }

    main {
        grid-template-columns: 2fr 1fr;
        display: grid;
        margin: 50px auto 0 auto;
        width: 70%;
        grid-gap: 20px;

        @media only screen and (max-width: 700px) {
            grid-template-columns: 1fr;
            width: 90%;
            margin-top: 70px;
        }

        #lista {
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 15px grey;
            overflow: hidden;
            background-color: white;
            padding: 10px;

            .column {
                border-bottom: 1px solid rgb(216, 218, 231);

                margin: 0 auto 0 auto;
                width: 99%;

                &:nth-child(1) {
                    width: 100%;
                    color: $rojo;
                }

                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                text-align: center;

                .row {
                    &:nth-child(4) {
                        width: 25%;
                    }

                    &:nth-child(3) {
                        width: 25%;
                    }

                    &:nth-child(2) {
                        width: 25%;
                    }

                    &:nth-child(1) {
                        width: 25%;
                    }

                    padding: 10px;
                }
            }
        }

        #datos {
            border-bottom: 1px solid rgb(216, 218, 231);
            box-shadow: 1px 1px 15px grey;
            background-color: white;
            padding: 10px;

            form {
                margin-top: 30px;
                display: flex;
                flex-direction: column;

                input {
                    margin: 10px 0 10px 0;
                    padding: 7px;
                    border: none;
                    border: 1px solid rgb(216, 218, 231);
                }

                button {
                    padding: 7px;
                    border: none;
                    margin-top: 40px;
                    background-color: $rojo;
                    color: white;
                    margin-bottom: 5px;
                    border: 1px solid $rojo;
                    transition: all .3s;

                    &:hover {
                        border: 1px solid $rojo;
                        background-color: white;
                        color: $rojo;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 50px;
        background-color: $azulo;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 50px;

        .links {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 150px;
            }

            ul {
                text-decoration: none;
                list-style-type: none;
                margin-left: 30px;
                border-left: 1px solid black;
                padding: 30px;

                a {
                    text-decoration: none;

                    li {
                        color: black;
                        padding: 5px 0 5px 0;
                    }
                }
            }
        }

        .redes {
            align-self: flex-start;

            @media only screen and (max-width: 700px) {
                display: flex;
                flex-direction: column;
            }

            img {
                width: 30px;

                @media only screen and (max-width: 700px) {
                    width: 25px;
                    margin: 5px;
                    align-self: center;
                }
            }
        }
    }
}