* {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive;
}

* p,
* li,
* a,
* input,
* textarea,
* button,
* label {
  font-size: 13px;
}

* input {
  margin: 5px 0 5px 0;
  padding: 5px;
}

* body {
  background-color: #e5e6d8;
}

.container {
  width: 100%;
  position: relative;
}

.container .gracias {
  color: white;
  width: 60%;
  margin: auto;
  background-color: #f23c50;
  padding: 100px;
  margin-top: 60px;
}

.container .gracias h1, .container .gracias h4, .container .gracias p {
  text-align: center;
}

.container .gracias img {
  display: block;
  padding-top: 40px;
  width: 120px;
  margin: auto;
}

.container nav {
  background-color: #f23c50;
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  .container nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
  }
}

.container nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .container nav .content {
    width: 90%;
  }
}

.container nav .content .division img {
  height: 22px;
}

.container nav .content .division ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container nav .content .division ul li {
  list-style-type: none;
  padding: 10px;
  text-transform: capitalize;
  color: white;
}

.container nav .content .division ul li a {
  text-decoration: none;
}

.container nav .content .division ul li a:visited {
  color: white;
}

.container nav .content .division ul li a:hover {
  color: #aeb1a0;
}

.container nav .content .division ul li:hover {
  color: #aeb1a0;
}

.container nav .content .division input {
  text-transform: capitalize;
  padding: 7px;
  border-radius: 36px;
  border: 1px solid gray;
}

.container .carrito {
  position: fixed;
  top: 100px;
  color: white;
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  background-color: #f23c50;
  left: 0;
}

.container .productos {
  margin: 20px auto 0 auto;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 700px) {
  .container .productos {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}

.container .productos a {
  text-decoration: none;
  color: black;
  position: relative;
}

.container .productos a .free::before {
  position: absolute;
  content: '';
  right: 10px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 25px solid #4ad9d9;
  border-left: 15px solid #4ad9d9;
  border-right: 15px solid #4ad9d9;
  border-bottom: 10px solid transparent;
}

.container .productos a .free::after {
  content: '';
  position: absolute;
  background-image: url("../img/cargo-truck.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  right: 10px;
  top: 0;
  width: 25px;
  height: 25px;
}

.container .productos .producto {
  cursor: pointer;
  background: #e5e6d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #d8dae7;
  background-color: white;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.container .productos .producto:hover {
  -webkit-box-shadow: 1px 1px 15px #929292;
          box-shadow: 1px 1px 15px #929292;
}

.container .productos .producto img {
  width: 80%;
}

.container .productos .producto p {
  text-align: center;
}

.container .productos .producto .btns {
  margin-top: 30px;
}

.container .productos .producto .btns button {
  padding: 7px;
  border: none;
  background-color: #f23c50;
  color: white;
  margin-bottom: 5px;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
  /* &:nth-child(1) {
                        border: 1px solid $rojo;
                        color: $rojo;
                        background-color: white;
                    }*/
}

.container .productos .producto .btns button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .container .description {
    width: 90%;
    margin-top: 54px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .container .description .img {
    margin-top: 20px;
  }
}

.container .description .img img {
  width: 100%;
}

.container .description .info {
  width: 500px;
  -webkit-box-shadow: 1px 1px 15px gray;
          box-shadow: 1px 1px 15px gray;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .container .description .info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 90%;
  }
  .container .description .info h3,
  .container .description .info h1,
  .container .description .info p,
  .container .description .info button {
    margin-top: 10px;
  }
}

.container .description .info button {
  cursor: pointer;
  padding: 7px;
  border: none;
  background-color: #f23c50;
  color: white;
  margin-bottom: 5px;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container .description .info button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container #busqueda {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .container #busqueda {
    width: 90%;
    margin-top: 54px;
  }
}

.container #busqueda .inputs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #busqueda .inputs select {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  padding: 5px;
  margin: 5px;
  border: 1px solid #e5e6d8;
}

.container #busqueda .inputs #free {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  padding: 5px;
}

.container #busqueda .inputs #free p {
  margin-right: 5px;
}

.container #busqueda .inputs #free .check {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.container #busqueda .inputs #free .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container #busqueda .inputs #free .check:hover input ~ .checkmark {
  background-color: #ccc;
}

.container #busqueda .inputs #free .check input:checked ~ .checkmark {
  background-color: #f23c50;
}

.container #busqueda .inputs #free .check input:checked ~ .checkmark:after {
  display: block;
}

.container #busqueda .inputs #free .check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.container #busqueda .inputs #free .check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container #busqueda .inputs #free .check .checkmark:after {
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.container #busqueda .inputs button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  padding: 7px;
  border: none;
  background-color: #f23c50;
  color: white;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 5px;
}

.container #busqueda .inputs button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container main {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  display: -ms-grid;
  display: grid;
  margin: 50px auto 0 auto;
  width: 70%;
  grid-gap: 20px;
}

@media only screen and (max-width: 700px) {
  .container main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
    margin-top: 70px;
  }
}

.container main #lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 15px grey;
          box-shadow: 1px 1px 15px grey;
  overflow: hidden;
  background-color: white;
  padding: 10px;
}

.container main #lista .column {
  border-bottom: 1px solid #d8dae7;
  margin: 0 auto 0 auto;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.container main #lista .column:nth-child(1) {
  width: 100%;
  color: #f23c50;
}

.container main #lista .column .row {
  padding: 10px;
}

.container main #lista .column .row:nth-child(4) {
  width: 25%;
}

.container main #lista .column .row:nth-child(3) {
  width: 25%;
}

.container main #lista .column .row:nth-child(2) {
  width: 25%;
}

.container main #lista .column .row:nth-child(1) {
  width: 25%;
}

.container main #datos {
  border-bottom: 1px solid #d8dae7;
  -webkit-box-shadow: 1px 1px 15px grey;
          box-shadow: 1px 1px 15px grey;
  background-color: white;
  padding: 10px;
}

.container main #datos form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main #datos form input {
  margin: 10px 0 10px 0;
  padding: 7px;
  border: none;
  border: 1px solid #d8dae7;
}

.container main #datos form button {
  padding: 7px;
  border: none;
  margin-top: 40px;
  background-color: #f23c50;
  color: white;
  margin-bottom: 5px;
  border: 1px solid #f23c50;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container main #datos form button:hover {
  border: 1px solid #f23c50;
  background-color: white;
  color: #f23c50;
}

.container footer {
  margin-top: 50px;
  background-color: #aeb1a0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.container footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container footer .links img {
  width: 150px;
}

.container footer .links ul {
  text-decoration: none;
  list-style-type: none;
  margin-left: 30px;
  border-left: 1px solid black;
  padding: 30px;
}

.container footer .links ul a {
  text-decoration: none;
}

.container footer .links ul a li {
  color: black;
  padding: 5px 0 5px 0;
}

.container footer .redes {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 700px) {
  .container footer .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container footer .redes img {
  width: 30px;
}

@media only screen and (max-width: 700px) {
  .container footer .redes img {
    width: 25px;
    margin: 5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=checkout.css.map */