html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    background: #f8cc06;
  }
  .producto{
background-image: url("/images/fondo_tienda.png");


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    &__imagen{

        width: 400px;
        padding: 50px;
    }

    .producto__titulo {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
    }
    
    .producto__precio {
      font-family: 'Oswald', sans-serif;
      font-size: 50px;
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
    }

    .producto__descripcion {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
    }

  }
  .titulo_descripcion{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
  }

  .descripcion{
    padding: 60px;
  }

  .producto__boton {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 350px;
    padding: 10px;
    background:  rgb(247, 52, 191);
    color: #ffffff;
    text-decoration: none;
    border: 0ch;
    border-radius: 20px;
    margin: 0;
  }

  .producto-detalle__carrito{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 350px;
    padding: 10px;
    background-color: #f8cc06;
    color: #ffffff;
    text-decoration: none;
    border: 0ch;
    border-radius: 20px;
    margin: 0;

  }



  .centrar{
    margin: 0 auto;
    max-width: 1360px;
    
  }
  
  .califest-header-prin{
    background-color: rgb(247, 52, 191);
  }
  
  .califest-header{
    
    display: flex;
    padding: 1em;
    justify-content: space-between;
    
    
    &__logo{
        padding-left: 5em;
    }
    &__nav{
        text-align: center;
        justify-content: center;
        padding-top: 1em;
        padding-right: 5em;
    }
    
    &__items{
        display: inline;
    }
    &__item{
        display: inline-block;
        padding-left: 2em;
    }
    
    &__items li:hover{
        transform: scale(1.5);
        transform-origin: center;   
        
        
    }
    
    li{
        transition: transform .2s ease;
    }
    a{
        color: white;
        text-decoration: none;
    }    
  }
  
  
  
  .footer-fondo{
        min-width: 100%;
        height: auto;
        
        &__imagen{
            display: flex;
            background-repeat: repeat-x;
            background-size: cover;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 580px;
            
            *{
                width: 100%;
                text-align: center;
            }
        }
        &__cont{
            min-height: 200px;
            display: flex;
            width: 30%;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-content: stretch;
            align-items: flex-end;
            margin-right: 200px;
        }
        
        &__newslatter{
            width: 100%;
            margin: auto;
        }
        &__boton{
            padding-top: 30px;
        }
  
        &__redes{
            display: flex;
            background-repeat: repeat-x;
            background-size: cover;
            width: 100%;
            height: 280px;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
  
            img{
                width: 70px;
                height: 70px;
                padding: 50px;
            }
        }
        
        &__barra{
            
            background-color:  rgb(0, 0, 0);  
            
            img{
                padding: 3em 0 3em 3em;
                width: 80px;
            }
            
            h1{
                margin: 0;
                padding: 0;
                padding-left: 3em;
                padding-top: 2em;
            }
        }
        &__boton{
            margin: 0;
            button{
                font-size: 30px;
                width: 350px;
                padding: 8px; 
                background-color: #f8cc06; 
                color: #ffffff; 
                text-decoration: none;
                border: 0ch;
                border-radius: 50px; 
                margin: 0;
            }
  
            button:hover{
                background-color: rgb(247, 52, 150);  
            }
        }
        
    }

    .header_dos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: stretch;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    
    .tipo{
        width: 200px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    .coleccion{
        width: 200px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    .artista{
        width: 200px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    
    .titulos_filtros{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
    
    .titulo_cuentas{
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
    color: #f1f1f1;
    
    }
    
    a{
        text-decoration: none;
    
    }
    .link{
    
        color: #f1f1f1;
    }
    .iconos{
      
        width: 40px;
        margin-top: 10px;
    
    
    }
    
    .carrito__numero{
        color: rgb(247, 52, 150);  
    }
    
    .carrito__num{
        width: 40px;
        position: absolute;
        top: -5px;
        left: 15px;
    }
    
    .carrito{
    
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    
    .cuenta{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    
    .lista{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }