.boton-bonito{
    background: coral;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.lista-productos{
    display: flex;
    &__item{

    }
}

.producto{
    background: gray;
    margin-right: 30px;
    &__imagen{
        width: 100px;
    }
}