html,body{
    margin: 0;
    padding: 0;
    color: white;
}


.boton-bonito{
    background: coral;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.lista-productos{
    background: red;
    background-image: url("https://2.bp.blogspot.com/-TVVgfPPheA4/XMKfwMG9-JI/AAAAAAAAZC0/RMMpbvwWH645_6YuqbaP-nAFKQhlbwGcgCLcBGAs/s1600/fondo_tienda.png");
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;

    &__item{
        width: 270px;
    }
}

.producto{
    margin: 20px;
    text-align: center;
    &__imagen{
        width: 250px;
        padding: 10px;
    }
    &__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;

            }

    &__precio{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    }

    &__boton{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        width: 350px;
        padding: 10px; 
        background-color: #f8cc06; 
        color: #ffffff; 
        text-decoration: none;
        border: 0ch;
        border-radius: 20px; 
        margin: 0;
          
    }

    


}